
.form-container{
    border-radius: 50px;
    background-color: white;
    margin: 50px 40px 0 40px;
    height: 1000px;
    width: 900px;
    justify-content: center;

}

.feed-topic,.feed-descript{
    text-align: center;
}
.feed-descript{
    color: #777777;
    font-weight: 400;
}
.form-container hr{
    width: 80%;
   
}
.name{
    margin: 50px 20px 20px 90px;
}
.mail{
    margin-top: 20px;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name input{
    margin-left: 10px;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
}
.name b{
    color: red;
}


textarea{
    resize: none;
    border-radius: 5px;
}

#yes1,#yes2,#yes3,#no1,#no2,#no3{
    accent-color:green;
    height: 25px;
    width: 25px;
    
}
.form-buttons{
    margin-top: 20px;
}
#formpreview{
    margin-right: 40px;
    background-color:#ffffff;
    color:rgb(0, 0, 0);
    padding: 10px 50px;
    border-radius: 15px;
    font-weight: 700;
    border: 2px solid #2DC653;
    
}
#formpreview:hover{
   
    background-color:#2DC653;
    color:rgb(255, 255, 255);
    padding: 10px 50px;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #2DC653;
}
#formsubmit{
   
    background-color:#2dc653;
    color:white;
    padding: 10px 50px;
    border-radius: 15px;
    font-weight: 700;
    border: 2px solid #2DC653;
} 
#formsubmit:hover{
   
    background-color:#25a244;
    color:white;
    padding: 10px 50px;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #25a244;
} 



