*{
    font-family: 'Poppins', sans-serif;
}
body {
   margin: 0;
   padding:0;
    background-color: #ededed;
    background-image:
    
}

.head-img {
    float: left;
    padding-left: 50px;
    padding-right: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container_1 {
    position: relative;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
   
}

.navbar {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 5px 4px #c7c7c7;
}

.navbar a {
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 30px;
}
a.active {
   
    color: #4ad66d;
    font-weight: 600;
  }
 a:hover{
    color:#2dc653 ;
   
 }
 .ver-icons li i{
    display: none;
    
 }
 .footer-cont,.footer-cont-main{
    display: grid;
    grid-template-columns: repeat(5,220px);
    background: #f9f8f9;
    bottom: 0;
    left:0;
    right:0;
   
}
.icons{
    display: flex;
}
 .icons a{
    color:rgb(255, 0, 0);
 }

 ul{
    list-style-type: none;
 }

 ul a{
    text-decoration: none;
 }
 li{
    color:#777777;
    font-size: small;
 }

 .footer-cont li:hover{
    color:#4ad66d;
 }

.fa-chevron-right{
    width:6px;
    height:10px;
    padding-right: 10px;
    color: #4ad66d;
    
}
.footer-img{
    width: 160px;
    height: 106px;
    padding-right: 220px;
}
.footer-2 .copyright {
    background-color: #f1f0f2;
    padding: 10px;
    bottom: 0;
    right: 0;
    left:0;
    
}
.copy-cont{
    text-align: center;
    font-size: 10px;
}
.icons ul{
    display: flex;
    padding-left: 10px;

}
.footer-cont-main ul .social-icons{
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color:white;
    border-radius: 100%;
    
    
}
.footer-cont-main span i{
    
    color: rgb(0, 0, 0);
}
.footer-cont-main span:hover{
    background-color: #4ad66d;
    
    
}
.footer-cont-main span i:hover{
    
    color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    margin-top: 7%;
}

.svg-container {
    display: flex;
    justify-content: center;
    padding-left: 35px;
}

.svg {
   
    max-width: 1250px;
    margin-top: 30px;
}

.circle {
    fill: #2dc65a;
    transition: fill 0.3s;
}

.circle:hover {
    fill: #2e6b37;
    cursor: pointer;
    border-color: #25a244;
    border-width: 3px;
}

.word {
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    fill: white;
}